* {
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #1d4d72;
  --secondary-color: #000000;
  --accent-color: #d8ee1a;
  --text-light: #f0f0f0;
  --border-color: rgb(195, 189, 189);
  --white: #ffffff;
}

h1,
h2 {
  color: var(--text-light);
  font-family: "Archivo Black", sans-serif;
  font-weight: 600;
  font-style: normal;
}

main h1 {
  color: #000;
}

body {
  max-width: 1200px;
  margin: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "wdth" 100;
  background-color: var(--white);
}

h1 {
  font-size: 24px;
}

h2 {
  font-size: 18px;
}

small {
  font-weight: 100;
  font-size: 11px;
}

.padding-1 {
  padding: 1rem;
}

/* Header */
header {
  background: var(--primary-color);
  position: relative;
}

.header-intro {
  display: flex;
  align-items: center;
  padding: 0 20px;
}

header .lgt-color {
  text-align: center;
  font-size: 24px;
  padding: 2rem;
  font-weight: bold;
  color: var(--text-light);
}

/* Navigation */
nav {
  background: var(--secondary-color);
}

nav a {
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s ease-in;
  display: flex;
  justify-content: center;
}

nav a:hover {
  text-decoration: underline;
  color: var(--accent-color);
}

nav > ul {
  display: flex;
  justify-content: space-around;
  padding: 1rem;
  list-style: none;
  flex-wrap: wrap;
  align-items: center;
}

li a.active {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 30px;
  border-radius: 10px;
}

.text-center {
  text-align: center;
  padding: 20px;
}

/* Hamburger Button */
.menu-toggle {
  display: none;
  background: none;
  border: none;
  font-size: 2rem;
  color: var(--white);
  padding: 1rem;
  cursor: pointer;
  position: absolute;
  top: 5px;
  right: 50px;
}

/* Mobile Styles */
@media (max-width: 768px) {
  .menu-toggle {
    display: block;
  }

  nav > ul {
    display: none;
    flex-direction: column;
    align-items: center;
    background: var(--secondary-color);
    padding: 1rem;
    min-width: 200px;
    transition: 1s ease-in-out;
  }

  nav.active > ul {
    display: block;
    position: absolute;
    top: 0;
    gap: 10px;
    padding: 20px;
    transition: 1s ease-in-out;
    height: 100vh;
  }

  nav.active > ul li {
    margin: 30px 0;
  }

  .padding-1 {
    grid-template-columns: 1fr;
  }

  .main-card,
  .aside-sidebar {
    grid-column: 1 / -1;
  }

  .flex-img {
    flex-wrap: wrap;
  }
}

.courses-btn {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  border-bottom: 2px solid #000;
  flex-wrap: wrap;
}

.aside-sidebar figure {
  padding: 20px 0;
}

/* Cards */
.card {
  border: 1px ridge var(--border-color);
  border-radius: 10px;
  background-color: var(--white);
}

.card > h2 {
  background: var(--primary-color);
  padding: 0.5rem;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.res-link {
  padding: 1rem;
  min-height: 300px;
}

.res-link li {
  margin: 1rem;
}

/* COURSES BTNs */
.courses-btn button {
  padding: 10px 50px;
  background: #000;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

/* COURSE LIST */
.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-top: 1rem;
  padding: 20px 0 50px 0;
}

.course-card {
  border-radius: 10px;
  padding: 1rem;
  width: 300px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.completed {
  background-color: var(--primary-color);
  color: var(--text-light);
  border-left: 5px solid green;
}

.incomplete {
  background-color: #f5f5f5;
  color: black;
  border-left: 5px solid red;
}

#credit-total {
  text-align: center;
  font-weight: bold;
  margin-top: 1rem;
}

/* Footer */
footer {
  background: var(--primary-color);
  padding: 2rem;
  text-align: center;
  color: var(--white);
}

.social-icons {
  display: flex;
  justify-content: center;
  column-gap: 8px;
  margin-bottom: 20px;
}

.social-icons a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: #ccc dashed 1px;
  border-radius: 22px;
}

.social-icons img {
  width: 22px;
  height: 22px;
}

.social-icons a:hover {
  background-color: #ddd;
}

/* Sidebars */
.left-sidebar,
.right-sidebar {
  padding: 1rem;
}

/* About Section */
.abt-nation-div {
  max-width: 80%;
  padding: 1rem;
}

.abt-nation-div h2 {
  text-align: center;
  color: var(--secondary-color);
  padding: 0.5rem;
}
